.mainWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contianer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 95%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.box {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 15px;
  background: var(--background);
  border-radius: 10px;

  padding: 12px;
  width: 100%;

  height: auto;
  padding: 30px 24px;
  min-height: 100%;
  flex: 1;
}
.icon {
  max-width: 55px;
}
.title {
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  margin-top: auto;
}
.infoContainer {
  max-width: 152px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 1;
  margin: auto 0;
}
.arrow {
  max-width: 130px;
  min-width: 90px;
}
.info {
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  min-height: 36px;
  display: flex;
  align-items: flex-end;
}
.directionArrow {
  width: calc(100% - var(--maxWidth));
  margin: 0 auto;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid var(--directionArrowColor);
  border-top: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-top: 20px;
}
.angleUp {
  position: absolute;
  left: 0;
  transform: translate(calc(-50% - 1.5px), calc(-50% + 2px));
  top: 0;
  font-size: 20px;
  color: var(--directionArrowColor);
}
.tagline {
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding: 10px;
}
